@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
body {
    background-color: black;
    color: white;
}
main {
    font-family: 'Playwrite AU SA';
    font-size: xx-large;
    justify-content: center;
}
.lainux {
    display: flex;
    background-image: url("Tux.svg.png");
}

img {
    
    border-radius: 100px;
}
header {
    display: flex;
    background-color: rgb(44, 44, 44);
    font-family: 'Playwrite AU SA';
}

@keyframes color-change {
    50% {
        background-color: aliceblue;
    }
    100% {
        font-size: 100px;
        background-image: url("gif.gif");
    }
}
header:hover {
    animation: color-change 20s forwards;
}